.mat-list-item {
  height: inherit !important;
  cursor: pointer;
  color: aliceblue !important
}

.mat-list-base .mat-list-item {
  font-size: 100px;
  opacity: 0.5;
}


.mat-list-base .mat-list-item:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

